<%- include('header'); -%>
    <h1>hello <%=user.username %></h1>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <%  posts.forEach(posts=>{  %>
            <div class="post-preview">
                <a href="/posts/<%=posts.id%>">
                    <h2 class="post-title"><%=posts.title %></h2>
                    <h3 class="post-subtitle"><%=posts.description %></h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!"><%= posts.username %></a>
                    on <%= posts.createdAt %>;
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4">
            <%  })   %>
            
           
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>






<%- include('footer'); -%>