<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog_Website </title>
        <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Blogger</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/posts/new">Create Post</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/auth/Logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
       
        <header class="masthead" style="background-image: url('<%=post.image%>')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1> <%=post.title%></h1>
                            <span class="subheading"><%=post.description%></span>
                        </div>
                    </div>
                </div>
            </div>

        </header>


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
           <%=post.content%>                                  
           <h1>hello <%=user.username%></h1>
           <% if((post.username)===(user.username)){  %>
            <a href="/auth/home" class="btn btn-secondary"> All Articles</a>
            <a href="/post/edit/<%=post.id%>" class="btn btn-warning"> Edit</a>
            <form id="deleteForm" action="/post/<%=post.id%>?_method=DELETE" method="post" class="d-inline">
                <button id="btn-submit" type="submit"class="btn btn-danger">Delete</button>
         <%  }  %>
         <% if((post.username)!==(user.username)){  %>
          
            <form id="likebutton" action="/post/like/<%=post.id%>"method="post">
                <%=post.likes.length%>
         <button type="button" class="btn btn-success
         " data-toggle="button" aria-pressed="false" autocomplete="off"onclick="document.getElementById('likebutton').submit();">
          <i class="fa fa-thumbs-up"></i>
        </button>
        </form> 


        <!-- comment section  -->

<div class="container mt-3">
    <div class="row card bg-light">
      <div class="col-md-8 card-body">
        <h2>Leave a comment</h2>
        <form class="mb-4"id="comment-form">
          <div class="form-group" >
            <input type="hidden" name="post_id" value="<%=post._id%>" id="">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" required placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <textarea class="form-control mb-2" name="comment" required  id="comment" rows="3"></textarea>
          </div>
 
          <input type="submit" class="btn btn-primary">
        </form>
         <!-- comment with nested comments -->
         <% if(post.comments.length>0){%>
           <%  post.comments=post.comments.reverse(); %>
       
        <%post.comments.forEach(function(comment){ %>

            <div class="d-flex">
                <div class="flex-shrink-0 mt-3">
                    <img style="max-width:10%;" class="rounded-circle" src="https://img.icons8.com/office/256/person-male-skin-type-4.png" alt="">
                     
                    <div class="fw-bold">
                       <%=comment.username%>
    
                    </div>
                    <%=comment.comment%>

                   
    
                </div>
             </div>
        <%  }) %>
          
        <%}%>




        <p class="com-status"style="color:green;"></p>
      </div>
    </div>
  </div>
         
        
       
          <%  }  %>
        </div>
        
       
    </div>
</div>


  
    
   <script>
    $(document).ready(function(){
        $('#comment-form').submit(function(event){
            event.preventDefault();
            var formData=$(this).serialize();
            $.ajax({
                url:"/posts/add-comment",
                type:"POST",
                data:formData,
                success:function(data){
                 $('.com-status').text(data.msg);
                 setTimeout(function(){
                    $('.com-status').text('');
                 },5000);
                }
            })
        });

   


    });
   </script>

  <!-- Footer-->
  <footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; Mad-Man 2022</div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>